<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/navigation.ejs') %> 
    <div class="top">
        <script>
            const fieldsStatus = {};
        </script>
        
        <div class="main-selection-container">
            <form action="/trials/studies/make" method="post">
            
                <h1>Select Study Fields</h1>
                <label for = "cond" id ="cond" name="cond">Study Condition</label>
                <br>
                <input class="fields-input" name="cond" id="cond" required>
                
                <br>
                <label for="keyword">Keyword</label>
                <br>
                <input class="fields-input" name="keyword"  id = "keyword" required>
                
                <br>
                <br>
                <label class="file-select" for="fileType">Data Returned As:</label>
                <select name="fileType" id="fileType">
                    <option name="csv" value="csv">CSV</option>
                    <option name="pdf" value="pdf">PDF</option> 
                    <option name="json" value="json">JSON</option>
                </select>
                <br>
                <br>
            <div class="fields-selection" id ="selected-container">
                <div class="field-container">
                    <div class="field-name" id="isFDAReg" name="isFDAReg">Is FDA Regulated</div>
                    <button class="field-select-btn" onclick = "removeField('isFDAReg')">X</button>
                </div>
                <div class="field-container">
                    <div class="field-name" id="hasResults" name="hasResults">Has Results</div>
                    <button class="field-select-btn" onclick = 'removeField("hasResults")'>X</i></button>
                </div>
                <div class="field-container">
                    <div class="field-name" id="startYear" name="startYear">Start Year</div>
                    <button class="field-select-btn" onclick = "removeField('startYear')">X</i></button>
                </div>
                <div class="field-container">
                    <div class="field-name" id="compYear" name="compYear">Completion Year</div>
                    <button class="field-select-btn" onclick = "removeField('compYear')">X</button>
                </div>
                <div class="field-container">
                    <div class="field-name" id="url" name="url">clinicalTials.gov url</div>
                    <button class="field-select-btn" onclick = "removeField('url')">X</button>
                </div>
            </div>
            <div class="fields-selection" id = "not-selected-container"></div>

                <script>
                    function makeBoxes(fields, buttonType, containerID){
                        for(let i=0; i<fields.length; i++){
                            makeBox(fields[i], buttonType, containerID);

                        }
                    }
                    
                    function makeBox(field, buttonType, containerID){
                        console.log("making box")
                        const mainContainer = document.getElementById(containerID)
                            const container = document.createElement('div');
                            container.id = field+"Container";
                            container.className= "field-container"
                            mainContainer.appendChild(container)
                            console.log(mainContainer)

                            const nameDiv = document.createElement('div');
                            const nameDivID =field+"Name";
                            nameDiv.id = nameDivID;
                            nameDiv.innerHTML = field;
                            nameDiv.className = "field-name";
                            container.appendChild(nameDiv);
                            console.log('container', container)

                            const button = document.createElement('button');
                            const buttonID = field+"Button"
                            button.id = buttonID;
                            if(buttonType=="remove"){
                                button.innerHTML = "X";
                                button.onclick = removeField(field);
                            }
                            else{
                                button.innerHTML= "+"
                                button.onclick = addField(field);
                            }
                            button.className ="field-select-btn"
                            container.appendChild(button)
                          

                            const propertyKey = field;
                            const propertyValue = true;
                            fieldsStatus[propertyKey] = propertyValue;

                            const hiddenInput = document.createElement('input');
                            const inputID = field+"Value";
                            hiddenInput.id = inputID;
                            hiddenInput.value = field;
                            hiddenInput.setAttribute("type", "hidden");
                            container.appendChild(hiddenInput);

                    }
                        function removeField(field){
                           
                            const divID = field+'Container'
                            const div = document.getElementById(divID);
                            const parent= document.getElementById("selected-container");
                            parent.removeChild(div)
                            const propKey = field
                            fieldsStatus[propKey] = false;
                        }

                        function addField(field){
                            const divID= field+'Container';
                            const div = document.getElementById(divID);
                            const parent= document.getElementById('not-selected-container');
                            parent.removeChild(div);

                            makeBox(field,'remove', "selected-container");
                            const propKey = field;
                            const propValue= true;
                            fieldsStatus[propKey]= propValue;
                    }


                
                        
                    function makeGetStudiesButton(){
                        const button= document.createElement('button');
                        const mainContainer = document.getElementById("selected-container");
                        mainContainer.appendChild(button);
                        button.className = "menu-btn";
                        button.innerHTML = "Get studies";
                        button.type  ="sumbit"

                    }

                    function addSelectedFields(importantFields){
                        console.log(importantFields)
                        makeBoxes(importantFields,"remove","selected-container")

                    }
                    function addUnselectedFields(allFields){
                        const otherFields= [];
                        for(let i=0; i<allFields.length; i++){
                            if(!importantFields.includes(allFields[i])){
                                otherFields.push(allFields[i]);
                            }
                        }
                        makeBoxes(otherFields, "add", "not-selected-container");
                    }

                    function run(importantFields, allFields){
                       addSelectedFields(importantFields);
                       addUnselectedFields(allFields);
                       makeGetStudiesButton();
                    }
                    
                    
                </script>
                <br>

            <script>
                const fields = JSON.parse('<%-JSON.stringify(fieldsArray)%>')
                const importantFields = JSON.parse('<%-JSON.stringify(importantFields)%>')
                run(importantFields, fields)
            </script>

                <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
              </form>
            </div>
        </div>
    
</body>
