<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/navigation.ejs') %> 
    <div class="top">
        <script>
            const fieldsStatus = {};
        </script>
        <div class="fields-selection" id ="main-field-selection-container">
            <form action="/trials/studies/make" method="post">

                <!-- general data -->
                <h1>Select Study Fields</h1>
                <label for = "cond" id ="cond" name="cond">Study Condition</label>
                <br>
                <input class="fields-input" name="cond" id="cond" required>
                
                <br>
                <label for="keyword">Keyword</label>
                <br>
                <input class="fields-input" name="keyword"  id = "keyword" required>
                
                <br>
                <br>
                <label class="file-select" for="fileType">Data Returned As:</label>
                <select name="fileType" id="fileType">
                    <option name="csv" value="csv">CSV</option>
                    <option name="pdf" value="pdf">PDF</option> 
                    <option name="json" value="json">JSON</option>
                </select>
                <br>
                <br>

                <div class="field-container">
                    <div class="field-name" id="isFDA" name="isFDA">Is FDA Regulated</div>
                    <button class="field-select-btn" onclick = "removeField()">X</button>
                </div>
                <div class="field-container">
                    <div class="field-name" id="hasRes" name="hasRes">Has Results</div>
                    <button class="field-select-btn" onclick = "removeField()">X</i></button>
                </div>
                <div class="field-container">
                    <div class="field-name" id="startYear" name="startYear">Start Year</div>
                    <button class="field-select-btn" onclick = "removeField()">X</i></button>
                </div>
                <div class="field-container">
                    <div class="field-name" id="compYear" name="compYear">Completion Year</div>
                    <button class="field-select-btn" onclick = "removeField()">X</button>
                </div>
                <div class="field-container">
                    <div class="field-name" id="url" name="url">clinicalTials.gov url</div>
                    <button class="field-select-btn" onclick = "removeField()">X</button>
                </div>

                <script>
                    function makeBoxes(fields){
                        for(let i=0; i<fields.length; i++){
                            makeBox(fields[i], fields);

                        }
                    }
                    function makeBox(field){
                        
                        const mainContainer = document.getElementById("main-field-selection-container")
                            const container = document.createElement('div');
                            container.id = field+"Container";
                            container.className= "field-container"
                            mainContainer.appendChild(container)
                            

                            const nameDiv = document.createElement('div');
                            const nameDivID =field+"Name";
                            nameDiv.id = nameDivID;
                            nameDiv.innerHTML = field;
                            nameDiv.className = "field-name";
                            container.appendChild(nameDiv);

                            const button = document.createElement('button');
                            const buttonID = field+"Button"
                            button.id = buttonID;
                            button.innerHTML = "X";
                            button.className ="field-select-btn"
                            container.appendChild(button)
                          

                            const propertyKey = field;
                            const propertyValue = true;
                            fieldsStatus[propertyKey] = propertyValue;

                            //const buttonName = importantFields[i]+"Button";
                            const hiddenInput = document.createElement('input');
                            const inputID = field+"Value";
                            hiddenInput.id = inputID;
                            hiddenInput.value = field;
                            hiddenInput.setAttribute("type", "hidden");
                            container.appendChild(hiddenInput);

                    }
                        function removeField(field, fields){
                            for(let i=0; i<fields.length; i++){
                                if(fields[i]==field){
                                    const divID = field+'Container'
                                    const div = document.getElementById(divID);
                                    const parent= document.getElementById("main-field-selection-container");
                                    parent.removeChild(div)

                                    const select  =document.getElementById("other-fields-select")
                                    const option= document.createElement('option');
                                    option.name = field;
                                    option.id = field+"Option";
                                    option.value =field
                                    option.innerHTML = field;
                                    select.appendChild(option);
                                

                                    const propKey = field
                                    fieldsStatus[propKey] = false;
                            }
                            }
                        }

                        function addField(field, fields){
                       for(let i=0; i<fields.length; i++){
                        if(fields[i]==field){
                            if(importantFields.includes(field)){
                                const input = document.getElementById(fields[i]);
                                const buttonID= fields[i]+"Button";
                                const button = document.getElementById(buttonID)
                                input.value = fields[i];
                                button.onclick = removeField();
                                const propKey = field;
                                fieldsStatus[propKey] = true;
                            }
                            else { 
                            
                            }
                        }
                       }
                    }


                        function addOtherFields(fields, importantFields){
                        const select = document.createElement('select');
                        select.id= "other-fields-select"
                        select.setAttribute('multiple', true);
                        const mainContainer = document.getElementById("main-field-selection-container");
                        mainContainer.appendChild(select);

                        for(let i=0; i<fields.length; i++){
                            if(!importantFields.includes(fields[i])){
                                addOtherField(fields[i], select)
                            }
                        }


                        }
                        function addOtherField(field, select){
                           
                                const propKey = field;
                                const propValue = false;
                                fieldsStatus[propKey]= propValue;

                                const option = document.createElement('option');
                                option.name = field;
                                option.id = field+"Option";
                                option.value =field
                                option.innerHTML = field;
                                select.appendChild(option);
                            
                        }
                    function makeGetStudiesButton(){
                        const button= document.createElement('button');
                        const mainContainer = document.getElementById("main-field-selection-container");
                        mainContainer.appendChild(button);
                        button.className = "menu-btn";
                        button.innerHTML = "Get studies";
                        button.type  ="sumbit"

                    }

                    function run(allFields, importantFields){
                        makeBoxes(importantFields);
                        addOtherFields(allFields, importantFields);
                        makeGetStudiesButton();
                    }
                    
                    
                </script>
                <br>

            <script>
                const fields = JSON.parse('<%-JSON.stringify(fieldsArray)%>')
                const importantFields = JSON.parse('<%-JSON.stringify(importantFields)%>')
                run(fields,importantFields)
            </script>

                <!-- <button class = "menu-btn" type="submit">Get studies</button> -->
                <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
              </form>
        </div>
    </div>
    
</body>
